/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.left a:hover {
  text-decoration: underline;
}

.right input {
  padding: 5px;
}

/* Estilos para el contenido de la página */
.content {
  padding: 20px;
  max-width: 1000px; /* Ancho máximo para el contenido */
  margin: 0 auto; /* Centrar en la página */
  display: flex; /* Utilizamos flex para alinear botones y párrafos verticalmente */
  flex-wrap: wrap; /* Envolver elementos en pantallas pequeñas */
}

/* Estilos para los botones en el lado izquierdo */
#opciones {
  margin-top: 20px; /* Espacio entre opciones y contenido */
}

#opciones .d-md-inline-flex {
  width: 100%; /* Ocupa todo el ancho disponible en pantallas grandes */
  margin-bottom: 10px; /* Espacio entre opciones */
}

#opciones .d-md-inline-flex a {
  text-decoration: none;
  color: #333;
}

#opciones .d-md-inline-flex a:hover {
  text-decoration: underline;
}

/* Estilos para los párrafos */
.paragraphs {
  flex: 1; /* El contenido de los párrafos ocupa el espacio restante */
}

.vertical-paragraph {
  margin-right: 20px;
  margin-bottom: 20px; /* Espacio entre párrafos */
}

.vertical-paragraph p {
  background-color: #f0f0f0; /* Fondo gris claro */
  padding: 10px;
  margin: 0; /* Elimina el margen inferior en los párrafos */
}

/* Estilos para centrar los encabezados h1 y h2 */
h1, h2 {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
}

/* Media Query para adaptar estilos en pantallas pequeñas */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Apila elementos en pantallas pequeñas */
  }
}

/* Estilos para los botones en el lado izquierdo */
#opciones .col-md-6 {
  flex: 0 0 25%; /* Asegura que los botones ocupen un 25% del ancho */
  max-width: 25%; /* Ancho máximo para los botones */
}

#opciones .d-md-inline-flex {
  display: flex;
  justify-content: flex-start; /* Alinea el texto de los botones a la izquierda */
}

#opciones .d-md-inline-flex a {
  width: 100%; /* Asegura que el enlace ocupe todo el ancho del botón */
}
